@model Assignment2.Models.ViewModels.FileInputViewModel

@{
    ViewData["Title"] = "Create";
}
<h1>Create</h1>

<h4>Advertisement</h4>
<hr />
<form action="" method="post" enctype="multipart/form-data">

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="file">Filename:</label>
                <input type="file" name="file" id="file" required />
            </div>
                <input type="submit" value="Create" asp-route-communityID="@ViewData["HoldCommunityId"]" />
            </div>
        </div>
</form>
<div>
    <a asp-action="Index"  asp-route-id="@ViewData["HoldCommunityId"]">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
