body {
    border: none;
    margin: 0;
    background-color: #7d7d7d;
    color: white;
    font-family: 'Segoe UI';
}

header {
    background-color: #7d7d7d;
    color: white;
    border-bottom: solid 1px black;
    margin: 0;
    padding: 10px;
}

footer {
    color: white;
    background-color: #7d7d7d;
    border-top: solid 1px black;
    margin: 0;
    padding: 10px;
}

.table {
    border-collapse: collapse;
    text-align:left;
}

.itemRow {
    border-bottom: 1px solid white;
}

.itemColumn {
    border-left: 1px solid white;
}

.itemRowCol {
    border-bottom: 1px solid white;
    border-bottom: 1px solid white;
}


.content {
    padding: 10px 10px 10px 10px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    padding-top: 0;
}


.indexMSG {
    margin-bottom: 0px;
}

.ag {
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 10px;
    background-color: #6b6b6b;
    color: white
}

.error {
    color: black;
    background-color: red;
}
